# PreData

In [216]:
import numpy as np
import pandas as pd
from pandasql import sqldf as sql

In [4]:
inf_exp1 = pd.read_csv('info_exp/1.csv')
inf_exp1

,key,value
0,Recording Name,2022_04_25
1,Start Date,25.04.2022
2,Start Time,11:37:23
3,Start Time (System),1650875843.6758265
4,Start Time (Synced),505080.109765
5,Recording UUID,4c4d310c-6796-4881-908f-4bc1f118f258
6,Duration Time,00:23:46
7,World Camera Frames,71040
8,World Camera Resolution,800x600
9,Capture Software Version,1.12.17
10,Data Format Version,1.12.17
11,System Info,"User: acer, Platform: Windows, Machine: LAPTOP..."

In [41]:
import datetime
import csv

def strfdelta(tdelta, fmt):
    d = {"days": tdelta.days}
    d["hours"], rem = divmod(tdelta.seconds, 3600)
    d["minutes"], d["seconds"] = divmod(rem, 60)
    return fmt.format(**d)

for num in range(1, 68):
    
    print(f'Обрабатывается файл {num}')
    
    time_file = pd.read_csv(f'info_exp/{num}.csv')
    
    start_time_system = float(time_file.iloc[3].value) # unix epoch timestamp
    start_time_synced = float(time_file.iloc[4].value)

    offset = start_time_system - start_time_synced


    new_h = []
    rows_with_time = []

    need_cols = ("world_timestamp", "confidence", "diameter", "diameter_3d", "model_confidence")
    indexes = []
    with open(f'pupils_exp/{num}.csv', 'r') as f:
        reader = csv.reader(f, delimiter=',')
        header = next(reader)

        for i, col in enumerate(header):
            if col in need_cols:
                indexes.append(i)
        new_h = []
        for i, col in enumerate(header):
            if i in indexes:
                new_h.append(col)

        new_h.append("adequate_time")
        new_h.append("videotime")
        first_at = None
        for row in reader:
            new_row = []
            for i, col in enumerate(row):
                if i in indexes:
                    new_row.append(col)
            if first_at == None:
                first_at = datetime.datetime.fromtimestamp(float(row[0]) + offset)
            new_row.append(datetime.datetime.fromtimestamp(float(row[0]) + offset).strftime("%Y-%m-%d %H:%M:%S.%f"))
            rr = (datetime.datetime.fromtimestamp(float(row[0]) + offset) - first_at)
            new_row.append(strfdelta(rr, "{hours}:{minutes}:{seconds}"))
            rows_with_time.append(new_row)

        with open("{}{}".format("with_time_", str(num)), 'w') as f:
            writer = csv.writer(f, delimiter=',')
            writer.writerow(new_h)
            for row in rows_with_time:
                writer.writerow(row)

Обрабатывается файл 1
Обрабатывается файл 2
Обрабатывается файл 3
Обрабатывается файл 4
Обрабатывается файл 5
Обрабатывается файл 6
Обрабатывается файл 7
Обрабатывается файл 8
Обрабатывается файл 9
Обрабатывается файл 10
Обрабатывается файл 11
Обрабатывается файл 12
Обрабатывается файл 13
Обрабатывается файл 14
Обрабатывается файл 15
Обрабатывается файл 16
Обрабатывается файл 17
Обрабатывается файл 18
Обрабатывается файл 19
Обрабатывается файл 20
Обрабатывается файл 21
Обрабатывается файл 22
Обрабатывается файл 23
Обрабатывается файл 24
Обрабатывается файл 25
Обрабатывается файл 26
Обрабатывается файл 27
Обрабатывается файл 28
Обрабатывается файл 29
Обрабатывается файл 30
Обрабатывается файл 31
Обрабатывается файл 32
Обрабатывается файл 33
Обрабатывается файл 34
Обрабатывается файл 35
Обрабатывается файл 36
Обрабатывается файл 37
Обрабатывается файл 38
Обрабатывается файл 39
Обрабатывается файл 40
Обрабатывается файл 41
Обрабатывается файл 42
Обрабатывается файл 43
Обрабатывается файл 44
Обрабатывается файл 45
Обрабатывается файл 46
Обрабатывается файл 47
Обрабатывается файл 48
Обрабатывается файл 49
Обрабатывается файл 50
Обрабатывается файл 51
Обрабатывается файл 52
Обрабатывается файл 53
Обрабатывается файл 54
Обрабатывается файл 55
Обрабатывается файл 56
Обрабатывается файл 57
Обрабатывается файл 58
Обрабатывается файл 59
Обрабатывается файл 60
Обрабатывается файл 61
Обрабатывается файл 62
Обрабатывается файл 63
Обрабатывается файл 64
Обрабатывается файл 65
Обрабатывается файл 66
Обрабатывается файл 67

In [215]:
pd.read_csv('with_time_50')

,confidence,diameter,diameter_3d,model_confidence,adequate_time,videotime
0,0.925736,31.240031,2.711774,0.335295,2022-05-18 13:09:27.065283,0:0:0
1,0.877596,31.129849,2.702257,0.350609,2022-05-18 13:09:27.073352,0:0:0
2,0.959672,31.456907,2.730937,0.354089,2022-05-18 13:09:27.089490,0:0:0
3,0.924422,31.388851,2.724972,0.487774,2022-05-18 13:09:27.105628,0:0:0
4,0.871786,31.268304,2.714389,0.488004,2022-05-18 13:09:27.113697,0:0:0
...,...,...,...,...,...,...
101338,0.999595,32.854516,4.686780,0.927032,2022-05-18 13:25:55.851676,0:16:28
101339,0.999107,32.629568,4.654274,0.927053,2022-05-18 13:25:55.867814,0:16:28
101340,0.998991,32.662412,4.658126,0.926890,2022-05-18 13:25:55.875883,0:16:28
101341,0.999902,32.895848,4.691531,0.927225,2022-05-18 13:25:55.883952,0:16:28
101342,0.999125,32.704991,4.665173,0.927417,2022-05-18 13:25:55.892021,0:16:28

In [359]:
# время, проведенное, на каждой странице – Gamification

gam_time = pd.read_csv('gam_time_data.csv')
gam_time.index.names = ['page_id']

g_page_time = """
            select page_id, usr_id as recnum,
                min(recnum) as start_time, max(load_time) as finish_time
            from gam_time
            group by page_id, usr_id
            """

gam_page_time_data = sql(g_page_time)

gam_page_time_data['page_id'] = [str(x)[1:7] for x in gam_page_time_data['page_id']]
gam_page_time_data['recnum'] = [str(x)[1:] for x in gam_page_time_data['recnum']]
gam_page_time_data['recnum'] = [str(x)[:-1] for x in gam_page_time_data['recnum']]
gam_page_time_data['start_time'] = [str(x)[1:24] for x in gam_page_time_data['start_time']]
gam_page_time_data['finish_time'] = [str(x)[1:24] for x in gam_page_time_data['finish_time']]
gam_page_time_data.page_id = gam_page_time_data.page_id.astype(int)
gam_page_time_data.start_time = gam_page_time_data.start_time.astype(str)
gam_page_time_data.finish_time = gam_page_time_data.finish_time.astype(str)

gam_page_time_data = gam_page_time_data[gam_page_time_data['finish_time']!='0000-00-00 00:00:00.000']
gam_page_time_data.start_time = pd.to_datetime(gam_page_time_data.start_time)
gam_page_time_data.finish_time = pd.to_datetime(gam_page_time_data.finish_time)
gam_page_time_data['duration'] = gam_page_time_data['finish_time'] - gam_page_time_data['start_time']

gam_page_time_data

,page_id,recnum,start_time,finish_time,duration
0,412477,89,2022-04-25 10:24:14.171,2022-04-25 10:38:19.773,0 days 00:14:05.602000
1,412478,89,2022-04-25 10:38:20.300,2022-04-25 10:38:32.246,0 days 00:00:11.946000
3,412480,89,2022-04-25 10:39:42.148,2022-04-25 10:39:45.190,0 days 00:00:03.042000
4,412481,89,2022-04-25 10:39:45.699,2022-04-25 10:39:48.785,0 days 00:00:03.086000
5,412482,89,2022-04-25 10:39:49.067,2022-04-25 10:39:55.491,0 days 00:00:06.424000
...,...,...,...,...,...
2407,428205,149,2022-05-26 17:11:54.019,2022-05-26 17:15:03.511,0 days 00:03:09.492000
2408,428206,149,2022-05-26 17:15:04.145,2022-05-26 17:15:15.295,0 days 00:00:11.150000
2409,428207,149,2022-05-26 17:15:15.834,2022-05-26 17:15:45.016,0 days 00:00:29.182000
2410,428208,149,2022-05-26 17:15:45.586,2022-05-26 17:15:52.780,0 days 00:00:07.194000
2411,428209,0,2022-05-26 17:15:54.223,2022-05-26 17:15:55.338,0 days 00:00:01.115000

In [360]:
# время, проведенное, на каждой странице – Traditional

tra_time = pd.read_csv('tra_time_data.csv')
tra_time.index.names = ['page_id']

t_page_time = """
            select page_id, usr_id as recnum,
                min(recnum) as start_time, max(load_time) as finish_time
            from tra_time
            group by page_id, usr_id
            """

tra_page_time_data = sql(t_page_time)

tra_page_time_data['page_id'] = [str(x)[1:7] for x in tra_page_time_data['page_id']]
tra_page_time_data['recnum'] = [str(x)[1:] for x in tra_page_time_data['recnum']]
tra_page_time_data['recnum'] = [str(x)[:-1] for x in tra_page_time_data['recnum']]
tra_page_time_data['start_time'] = [str(x)[1:24] for x in tra_page_time_data['start_time']]
tra_page_time_data['finish_time'] = [str(x)[1:24] for x in tra_page_time_data['finish_time']]
tra_page_time_data.page_id = tra_page_time_data.page_id.astype(int)
tra_page_time_data.start_time = tra_page_time_data.start_time.astype(str)
tra_page_time_data.finish_time = tra_page_time_data.finish_time.astype(str)

tra_page_time_data = tra_page_time_data[tra_page_time_data['finish_time']!='0000-00-00 00:00:00.000']
tra_page_time_data.start_time = pd.to_datetime(tra_page_time_data.start_time)
tra_page_time_data.finish_time = pd.to_datetime(tra_page_time_data.finish_time)
tra_page_time_data['duration'] = tra_page_time_data['finish_time'] - tra_page_time_data['start_time']

tra_page_time_data

,page_id,recnum,start_time,finish_time,duration
0,412524,112,2022-04-25 11:03:08.321,2022-04-25 11:10:35.661,0 days 00:07:27.340000
1,412525,112,2022-04-25 11:10:36.202,2022-04-25 11:10:57.602,0 days 00:00:21.400000
2,412526,112,2022-04-25 11:10:58.093,2022-04-25 11:11:40.230,0 days 00:00:42.137000
3,412527,112,2022-04-25 11:11:40.653,2022-04-25 11:11:46.691,0 days 00:00:06.038000
4,412528,112,2022-04-25 11:11:47.074,2022-04-25 11:12:02.408,0 days 00:00:15.334000
...,...,...,...,...,...
2519,428316,173,2022-05-26 18:46:10.312,2022-05-26 18:46:20.212,0 days 00:00:09.900000
2520,428317,173,2022-05-26 18:46:20.787,2022-05-26 18:46:56.354,0 days 00:00:35.567000
2521,428318,173,2022-05-26 18:46:56.805,2022-05-26 18:47:05.017,0 days 00:00:08.212000
2522,428319,173,2022-05-26 18:47:05.688,2022-05-26 18:48:15.546,0 days 00:01:09.858000
2523,428320,173,2022-05-26 18:48:16.184,2022-05-26 18:48:24.222,0 days 00:00:08.038000

In [361]:
# движения мышью постранично – Gamification

gam_mouse_movements = pd.read_csv('gam_mouse_movements.csv')
gam_mouse_movements['page_id'] = [str(x)[1:7] for x in gam_mouse_movements['page_id']]
gam_mouse_movements['distance'] = [str(x)[1:] for x in gam_mouse_movements['distance']]
gam_mouse_movements['distance'] = [str(x)[:-1] for x in gam_mouse_movements['distance']]
gam_mouse_movements.page_id = gam_mouse_movements.page_id.astype(int)
gam_mouse_movements.distance = gam_mouse_movements.distance.astype(int)

g_mouse = 'select page_id, sum(distance) as distance from gam_mouse_movements group by page_id order by page_id'
gam_mouse_movements = sql(g_mouse)
gam_mouse_movements

      page_id  distance
0      412477       885
1      412478       311
2      412479       580
3      412480       100
4      412481       246
...       ...       ...
1892   428201       180
1893   428202      1976
1894   428203        75
1895   428204       228
1896   428205       928

[1897 rows x 2 columns]

In [362]:
# движения мышью постранично – Traditional

tra_mouse_movements = pd.read_csv('tra_mouse_movements.csv')
tra_mouse_movements['page_id'] = [str(x)[1:7] for x in tra_mouse_movements['page_id']]
tra_mouse_movements['distance'] = [str(x)[1:] for x in tra_mouse_movements['distance']]
tra_mouse_movements['distance'] = [str(x)[:-1] for x in tra_mouse_movements['distance']]
tra_mouse_movements.page_id = tra_mouse_movements.page_id.astype(int)
tra_mouse_movements.distance = tra_mouse_movements.distance.astype(int)

t_mouse = 'select page_id, sum(distance) as distance from tra_mouse_movements group by page_id order by page_id'
tra_mouse_movements = sql(t_mouse)
tra_mouse_movements

      page_id  distance
0      412524       663
1      412525      1228
2      412526      2131
3      412527       489
4      412528      1040
...       ...       ...
2139   428317      1091
2140   428318       127
2141   428319      5705
2142   428320        13
2143   428321        14

[2144 rows x 2 columns]

In [494]:
# ответы на анкету + мэтч recnum и наш id – Gamification

gam_answers = pd.read_excel('gam_answers.xlsx')
# gam_answers = gam_answers[1:]
gam_answers = gam_answers[gam_answers['ID'].astype(str).astype(int)<=67]
gam_answers = gam_answers[gam_answers['ID'].astype(str).astype(int)>0]
# gam_answers
gam_match = gam_answers[['recnum', 'ID']]
# gam_match

In [495]:
# ответы на анкету + мэтч recnum и наш id – Traditional

tra_answers = pd.read_excel('tra_answers.xlsx')
# tra_answers = tra_answers[1:]
tra_answers = tra_answers[tra_answers['ID'].astype(str).astype(int)<=67]
tra_answers = tra_answers[tra_answers['ID'].astype(str).astype(int)>0]
# tra_answers
tra_match = tra_answers[['recnum', 'ID']]
# tra_match

In [365]:
# делаем мэтчи по времени между page_id и анкетным вопросом

gam_answers_times = pd.read_excel('gam_answers_times.xlsx')
tra_answers_times = pd.read_excel('tra_answers_times.xlsx')

In [367]:
data_gam = gam_answers_times[gam_answers_times.ID == 1].T[1:]
data_gam = data_gam.rename(columns = {0:'data'})
j = 0

for i in list(gam_answers_times.ID)[1:]:
    j += 1
#     print(i, j)
    ext = gam_answers_times[gam_answers_times.ID == i].T[1:]
    ext = ext.rename(columns = {j:'data', str(j):'data'})
    data_gam = pd.concat([data_gam, ext])

data_gam.index.names = ['question']
data_gam

                           data
question
begin_time  2022-04-25 10:24:13
end_time    2022-04-25 11:00:58
intro       2022-04-25 10:38:20
ID_time     2022-04-25 10:39:55
pre_time    2022-04-25 10:40:36
...                         ...
Q20_time    2022-05-19 14:48:41
Q22_time    2022-05-19 14:49:34
Q23_time    2022-05-19 14:50:30
Q24_time    2022-05-19 14:52:05
Q25_time    2022-05-19 14:52:52

[768 rows x 1 columns]

In [368]:
q = """
    select page_id, question 
    from data_gam d join gam_page_time_data td on d.data between td.start_time and td.finish_time
    """
gam_page_question_match = sql(q)
gam_page_question_match

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

     page_id  question
0     412522  end_time
1     412482   ID_time
2     412483  pre_time
3     412484   Q6_time
4     412485   Q7_time
..       ...       ...
430   416430  Q16_time
431   416432  Q20_time
432   416435  Q22_time
433   416437  Q23_time
434   416441  Q25_time

[435 rows x 2 columns]

In [371]:
data_tra = tra_answers_times[tra_answers_times.ID == 2].T[1:]
data_tra = data_tra.rename(columns = {0:'data'})
j = 0

for i in list(tra_answers_times.ID)[1:]:
    j += 1
#     print(i, j)
    ext = tra_answers_times[tra_answers_times.ID == i].T[1:]
    ext = ext.rename(columns = {j:'data', str(j):'data'})
    data_tra = pd.concat([data_tra, ext])

data_tra.index.names = ['question']
data_tra

                           data
question
begin_time  2022-04-25 11:03:07
end_time    2022-04-25 11:22:06
intro       2022-04-25 11:10:35
ID_time     2022-04-25 11:10:57
pre_time    2022-04-25 11:11:40
...                         ...
Q17_time    2022-05-19 16:18:53
Q18_time    2022-05-19 16:20:08
Q19_time    2022-05-19 16:21:49
Q20_time    2022-05-19 16:23:09
Q21_time    2022-05-19 16:24:16

[840 rows x 1 columns]

In [372]:
q = """
    select page_id, question 
    from data_tra d join tra_page_time_data td on d.data between td.start_time and td.finish_time
    """
tra_page_question_match = sql(q)
tra_page_question_match

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

     page_id    question
0     412558    end_time
1     412524       intro
2     412525     ID_time
3     412526    pre_time
4     412527     Q6_time
..       ...         ...
480   416568    Q15_time
481   416570  STOMP_time
482   416578    Q18_time
483   416582    Q20_time
484   416583    Q21_time

[485 rows x 2 columns]

# Analysis

### Mouse Movements (table question-id-distance)

In [379]:
q = """
    select question, ID, distance
    from gam_page_question_match qm
    join gam_mouse_movements mm using(page_id)
    join gam_page_time_data td using(page_id)
    join gam_match m using(recnum)
    """
gam_question_mouse = sql(q)
gam_question_mouse

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

     question  ID  distance
0    end_time   1      1484
1     ID_time   1       340
2    pre_time   1      1179
3     Q6_time   1       632
4     Q7_time   1       477
..        ...  ..       ...
429  Q16_time  64      1491
430  Q20_time  64      1214
431  Q22_time  64      1334
432  Q23_time  64      1673
433  Q25_time  64      2256

[434 rows x 3 columns]

In [380]:
q = """
    select question, ID, distance
    from tra_page_question_match qm
    join tra_mouse_movements mm using(page_id)
    join tra_page_time_data td using(page_id)
    join tra_match m using(recnum)
    """
tra_question_mouse = sql(q)
tra_question_mouse

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

       question  ID  distance
0      end_time   2      1760
1         intro   2       663
2       ID_time   2      1228
3      pre_time   2      2131
4       Q6_time   2       489
..          ...  ..       ...
474    Q15_time  67      2075
475  STOMP_time  67      3374
476    Q18_time  67       412
477    Q20_time  67      1191
478    Q21_time  67      3281

[479 rows x 3 columns]

### Pupil diameter (table question-id-avg diameter)

In [424]:
d = pd.read_csv('with_time_3')

In [425]:
d.adequate_time = pd.to_datetime(d.adequate_time)
d.dtypes

confidence                 float64
diameter                   float64
diameter_3d                float64
model_confidence           float64
adequate_time       datetime64[ns]
videotime                   object
dtype: object

In [426]:
d = d[d['confidence']>=0.7]
d

,confidence,diameter,diameter_3d,model_confidence,adequate_time,videotime
0,0.995931,40.435868,1.590469,0.367484,2022-04-25 13:06:45.296052,0:0:0
1,0.963862,40.681248,1.600186,0.366828,2022-04-25 13:06:45.304121,0:0:0
2,0.933428,40.669259,1.599716,0.366390,2022-04-25 13:06:45.312190,0:0:0
3,0.994213,40.965623,1.611157,0.365816,2022-04-25 13:06:45.320259,0:0:0
4,0.922575,40.513647,1.593674,0.365694,2022-04-25 13:06:45.328329,0:0:0
...,...,...,...,...,...,...
100060,0.871184,52.608451,6.271604,0.720397,2022-04-25 13:24:01.907556,0:17:16
100061,0.873756,52.755076,6.288801,0.719949,2022-04-25 13:24:01.915625,0:17:16
100062,0.936134,52.777664,6.290961,0.719683,2022-04-25 13:24:01.923693,0:17:16
100063,0.880245,52.596088,6.264710,0.719190,2022-04-25 13:24:01.931762,0:17:16
100064,0.952841,52.500538,6.246186,0.718579,2022-04-25 13:24:01.939831,0:17:16

In [422]:
np.mean(d[(d['videotime']>='0:0:20')&(d['videotime']<='0:0:25')]['diameter'])

38.55927557160785

In [430]:
baselines = {}

d = pd.read_csv(f'with_time_1')
d.adequate_time = pd.to_datetime(d.adequate_time)
d = d[d['confidence']>=0.7]
baselines[1] = np.mean(d[(d['videotime']>='0:0:20')&(d['videotime']<='0:0:25')]['diameter'])
q = """
    select page_id, ID, avg(diameter)
    from d join gam_page_time_data on adequate_time between start_time and finish_time 
    join gam_match using(recnum)
    group by page_id, ID
    """
gam_pupils_by_page_ID = sql(q)

    
for k in list(gam_answers_times['ID'])[1:]:
    print(f'Обработка ID {k}')
    d = pd.read_csv(f'with_time_{k}')
    d.adequate_time = pd.to_datetime(d.adequate_time)
    d = d[d['confidence']>=0.7]
    baselines[k] = np.mean(d[(d['videotime']>='0:0:20')&(d['videotime']<='0:0:25')]['diameter'])
    q = """
        select page_id, ID, avg(diameter)
        from d join gam_page_time_data on adequate_time between start_time and finish_time 
        join gam_match using(recnum)
        group by page_id, ID
        """
    ext = sql(q)
    
    gam_pupils_by_page_ID = pd.concat([gam_pupils_by_page_ID, ext])

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 3

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 5

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 6

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 9

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 10

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 13

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 15

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 19

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 21

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 22

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 23

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 24

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 27

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 29

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 31

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 32

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 33

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 35

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 37

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 38

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 41

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 42

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 45

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 47

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 50

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 51

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 53

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 56

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 59

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 60

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 64

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

In [433]:
d = pd.read_csv(f'with_time_2')
d.adequate_time = pd.to_datetime(d.adequate_time)
d = d[d['confidence']>=0.7]
baselines[2] = np.mean(d[(d['videotime']>='0:0:20')&(d['videotime']<='0:0:25')]['diameter'])
q = """
    select page_id, ID, avg(diameter)
    from d join tra_page_time_data on adequate_time between start_time and finish_time 
    join tra_match using(recnum)
    group by page_id, ID
    """
tra_pupils_by_page_ID = sql(q)

    
for k in list(tra_answers_times['ID'])[1:]:
    print(f'Обработка ID {k}')
    d = pd.read_csv(f'with_time_{k}')
    d.adequate_time = pd.to_datetime(d.adequate_time)
    d = d[d['confidence']>=0.7]
    baselines[k] = np.mean(d[(d['videotime']>='0:0:20')&(d['videotime']<='0:0:25')]['diameter'])
    q = """
        select page_id, ID, avg(diameter)
        from d join tra_page_time_data on adequate_time between start_time and finish_time 
        join tra_match using(recnum)
        group by page_id, ID
        """
    ext = sql(q)
    
    tra_pupils_by_page_ID = pd.concat([tra_pupils_by_page_ID, ext])

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 4

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 7

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 8

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 11

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 12

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 14

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 16

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 17

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 20

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 25

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 26

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 18

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 28

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 30

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 34

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 36

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 39

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 40

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 43

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 44

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 46

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 48

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 49

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 52

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 54

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 55

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 57

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 58

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 61

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 62

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 63

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 65

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 66

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

Обработка ID 67

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/pandasql/sqldf.py:120: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  to_sql(df, name=tablename, con=conn,

In [435]:
baselines

{1: 34.05847395387164,
 3: 38.55927557160785,
 5: 28.882150588411655,
 6: 25.9112323187787,
 9: 25.784546352611393,
 10: 28.248159385305016,
 13: 32.39158593955611,
 15: 46.328713509692875,
 19: 26.240620835712487,
 21: 42.83381509107261,
 22: 33.141311077312416,
 23: 29.575156056649824,
 24: 40.1373743710876,
 27: 27.02340545599567,
 29: 28.55431753216723,
 31: 27.552174810460947,
 32: 19.453576752829672,
 33: 30.324848731445584,
 35: 26.288821217608454,
 37: 22.469176759317463,
 38: 37.10336340710692,
 41: 27.25628786625374,
 42: 26.209296724397827,
 45: 23.186135304277148,
 47: 26.92046929376521,
 50: 31.60914328135985,
 51: 26.066980655112786,
 53: 24.223704393650813,
 56: 23.90670123579387,
 59: 34.116541799808765,
 60: 26.90996969180785,
 64: 34.720049630504676,
 2: 32.389678401774134,
 4: 30.306845913236078,
 7: 25.73412328766054,
 8: 23.51081530796782,
 11: 35.83306143459723,
 12: 30.161376211817355,
 14: 34.10817435601993,
 16: 25.83413821577398,
 17: 34.625853079538345,
 20: 32.0996706111211,
 25: 30.498656218006893,
 26: 43.43715474138266,
 18: 14.722709063531186,
 28: 30.74062896362395,
 30: 25.22181145601702,
 34: 39.33207437637607,
 36: 24.10847338274136,
 39: 28.973803026979304,
 40: 29.530938202978287,
 43: 24.358148218426663,
 44: 24.446102323893765,
 46: 34.47647944772204,
 48: 27.658188232919873,
 49: 31.17284408766361,
 52: 26.440364671636466,
 54: 23.263501809013977,
 55: 31.245678704368387,
 57: 32.87239073541078,
 58: 26.75183109086402,
 61: 26.7147981387948,
 62: 33.26829283896669,
 63: 17.399304713058214,
 65: 20.527097292267673,
 66: 29.855326113607372,
 67: 35.89621628331419}

In [439]:
gam_question_mouse

     question  ID  distance
0    end_time   1      1484
1     ID_time   1       340
2    pre_time   1      1179
3     Q6_time   1       632
4     Q7_time   1       477
..        ...  ..       ...
429  Q16_time  64      1491
430  Q20_time  64      1214
431  Q22_time  64      1334
432  Q23_time  64      1673
433  Q25_time  64      2256

[434 rows x 3 columns]

In [438]:
tra_question_mouse

       question  ID  distance
0      end_time   2      1760
1         intro   2       663
2       ID_time   2      1228
3      pre_time   2      2131
4       Q6_time   2       489
..          ...  ..       ...
474    Q15_time  67      2075
475  STOMP_time  67      3374
476    Q18_time  67       412
477    Q20_time  67      1191
478    Q21_time  67      3281

[479 rows x 3 columns]

In [441]:
tra_pupils_by_page_ID = tra_pupils_by_page_ID.rename(columns = {'avg(diameter)':'avg_diameter'})
tra_pupils_by_page_ID

   page_id  ID  avg_diameter
0   412797   8     28.960709
1   412798   8     26.587238
0   412886  11     25.027989
0   413095  16     39.326328
1   413096  16     36.936241
..     ...  ..           ...
44  416589  67     20.471956
45  416590  67     20.764104
46  416591  67     20.161239
47  416592  67     21.379873
48  416593  67     28.505866

[379 rows x 3 columns]

In [442]:
gam_pupils_by_page_ID = gam_pupils_by_page_ID.rename(columns = {'avg(diameter)':'avg_diameter'})
gam_pupils_by_page_ID

   page_id  ID  avg_diameter
0   412560   3     37.685994
0   412641   5     41.635113
1   412642   5     38.401646
2   412643   5     39.814040
3   412644   5     40.135079
..     ...  ..           ...
24  416128  60     45.524205
25  416129  60     35.671099
26  416130  60     33.981682
27  416131  60     32.168080
28  416132  60     33.230383

[268 rows x 3 columns]

### Считаем don't know rate

In [497]:
gam_answers_DKR = gam_answers
# gam_answers_DKR

In [498]:
gam_answers_DKR['Q6_DK'] = gam_answers_DKR['Q6'].map({6:1})

gam_answers_DKR['Q7_DK'] = gam_answers_DKR['Q7'].map({10:1})
gam_answers_DKR['Q8_DK'] = gam_answers_DKR['Q8'].map({10:1})
gam_answers_DKR['Q9_DK'] = gam_answers_DKR['Q9'].map({10:1})
gam_answers_DKR['Q10_DK'] = gam_answers_DKR['Q10'].map({10:1})

gam_answers_DKR['PWIa_DK'] = gam_answers_DKR['PWIa'].map({6:1})
gam_answers_DKR['PWIb_DK'] = gam_answers_DKR['PWIb'].map({6:1})
gam_answers_DKR['PWIc_DK'] = gam_answers_DKR['PWIc'].map({6:1})
gam_answers_DKR['PWId_DK'] = gam_answers_DKR['PWId'].map({6:1})
gam_answers_DKR['PWIe_DK'] = gam_answers_DKR['PWIe'].map({6:1})
gam_answers_DKR['PWIf_DK'] = gam_answers_DKR['PWIf'].map({6:1})
gam_answers_DKR['PWIg_DK'] = gam_answers_DKR['PWIg'].map({6:1})
gam_answers_DKR['PWIh_DK'] = gam_answers_DKR['PWIh'].map({6:1})
gam_answers_DKR['PWIi_DK'] = gam_answers_DKR['PWIi'].map({6:1})

gam_answers_DKR['BZSGa_DK'] = gam_answers_DKR['BZSGa'].map({5:1})
gam_answers_DKR['BZSGb_DK'] = gam_answers_DKR['BZSGb'].map({5:1})
gam_answers_DKR['BZSGc_DK'] = gam_answers_DKR['BZSGc'].map({5:1})
gam_answers_DKR['BZSGd_DK'] = gam_answers_DKR['BZSGd'].map({5:1})
gam_answers_DKR['BZSGe_DK'] = gam_answers_DKR['BZSGe'].map({5:1})
gam_answers_DKR['BZSGf_DK'] = gam_answers_DKR['BZSGf'].map({5:1})
gam_answers_DKR['BZSGg_DK'] = gam_answers_DKR['BZSGg'].map({5:1})
gam_answers_DKR['BZSGh_DK'] = gam_answers_DKR['BZSGh'].map({5:1})

gam_answers_DKR['Q11a_DK'] = gam_answers_DKR['Q11a'].map({6:1}) 
gam_answers_DKR['Q11b_DK'] = gam_answers_DKR['Q11b'].map({6:1}) 
gam_answers_DKR['Q11c_DK'] = gam_answers_DKR['Q11c'].map({6:1}) 
gam_answers_DKR['Q11d_DK'] = gam_answers_DKR['Q11d'].map({6:1}) 
gam_answers_DKR['Q11e_DK'] = gam_answers_DKR['Q11e'].map({6:1}) 
gam_answers_DKR['Q11f_DK'] = gam_answers_DKR['Q11f'].map({6:1}) 

gam_answers_DKR['Q12a_DK'] = gam_answers_DKR['Q12a'].map({6:1})
gam_answers_DKR['Q12b_DK'] = gam_answers_DKR['Q12b'].map({6:1})
gam_answers_DKR['Q12c_DK'] = gam_answers_DKR['Q12c'].map({6:1})
gam_answers_DKR['Q12d_DK'] = gam_answers_DKR['Q12d'].map({6:1})
gam_answers_DKR['Q12e_DK'] = gam_answers_DKR['Q12e'].map({6:1})
gam_answers_DKR['Q12f_DK'] = gam_answers_DKR['Q12f'].map({6:1})

gam_answers_DKR['Q13a_DK'] = gam_answers_DKR['Q13a'].map({6:1})
gam_answers_DKR['Q13b_DK'] = gam_answers_DKR['Q13b'].map({6:1})
gam_answers_DKR['Q13c_DK'] = gam_answers_DKR['Q13c'].map({6:1})
gam_answers_DKR['Q13d_DK'] = gam_answers_DKR['Q13d'].map({6:1})
gam_answers_DKR['Q13e_DK'] = gam_answers_DKR['Q13e'].map({6:1})
gam_answers_DKR['Q13f_DK'] = gam_answers_DKR['Q13f'].map({6:1})

gam_answers_DKR['Q14a_DK'] = gam_answers_DKR['Q14a'].map({6:1})
gam_answers_DKR['Q14b_DK'] = gam_answers_DKR['Q14b'].map({6:1})
gam_answers_DKR['Q14c_DK'] = gam_answers_DKR['Q14c'].map({6:1})
gam_answers_DKR['Q14d_DK'] = gam_answers_DKR['Q14d'].map({6:1})
gam_answers_DKR['Q14e_DK'] = gam_answers_DKR['Q14e'].map({6:1})
gam_answers_DKR['Q14f_DK'] = gam_answers_DKR['Q14f'].map({6:1})
gam_answers_DKR['Q14g_DK'] = gam_answers_DKR['Q14g'].map({6:1})

gam_answers_DKR['Q15a_DK'] = gam_answers_DKR['Q15a'].map({6:1})
gam_answers_DKR['Q15b_DK'] = gam_answers_DKR['Q15b'].map({6:1})
gam_answers_DKR['Q15c_DK'] = gam_answers_DKR['Q15c'].map({6:1})
gam_answers_DKR['Q15d_DK'] = gam_answers_DKR['Q15d'].map({6:1})
gam_answers_DKR['Q15e_DK'] = gam_answers_DKR['Q15e'].map({6:1})
gam_answers_DKR['Q15f_DK'] = gam_answers_DKR['Q15f'].map({6:1})
gam_answers_DKR['Q15g_DK'] = gam_answers_DKR['Q15g'].map({6:1})

gam_answers_DKR['STOMPa_DK'] = gam_answers_DKR['STOMPa'].map({6:1})
gam_answers_DKR['STOMPb_DK'] = gam_answers_DKR['STOMPb'].map({6:1})
gam_answers_DKR['STOMPc_DK'] = gam_answers_DKR['STOMPc'].map({6:1})
gam_answers_DKR['STOMPd_DK'] = gam_answers_DKR['STOMPd'].map({6:1})
gam_answers_DKR['STOMPe_DK'] = gam_answers_DKR['STOMPe'].map({6:1})
gam_answers_DKR['STOMPf_DK'] = gam_answers_DKR['STOMPf'].map({6:1})
gam_answers_DKR['STOMPg_DK'] = gam_answers_DKR['STOMPg'].map({6:1})
gam_answers_DKR['STOMPh_DK'] = gam_answers_DKR['STOMPh'].map({6:1})
gam_answers_DKR['STOMPi_DK'] = gam_answers_DKR['STOMPi'].map({6:1})

In [464]:
gam_answers_DKR

,recnum,itime,ID,Name,Age,Q1,Q2,Q3,Q4,Q5,...,Q15g_DK,STOMPa_DK,STOMPb_DK,STOMPc_DK,STOMPd_DK,STOMPe_DK,STOMPf_DK,STOMPg_DK,STOMPh_DK,STOMPi_DK
0,89,2022-04-25,1,ескин кирилл дмитриевич,19,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90,2022-04-25,3,Лоренц Ясмина,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91,2022-04-25,5,Еремина Мария,19,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,92,2022-04-25,6,Доронина Анастасия,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,93,2022-04-25,9,Лобов Никита,19,1,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,94,2022-04-25,10,Башев Алексей,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,95,2022-04-25,13,Баранова Полина,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,96,2022-04-25,15,Дитятьева Анастасия,19,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,97,2022-04-27,19,Цыганаш Тамара,19,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,100,2022-04-27,21,Губенко Анастасия,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,101,2022-04-27,22,Галас Мария,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,102,2022-04-27,23,Роговицкая Юлия,18,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,103,2022-04-27,24,Мальнева Александра,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,105,2022-04-30,27,Замков Алексей,20,1,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,106,2022-04-30,29,Смирнов Никиа,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,107,2022-04-30,31,Сергеева Полина,18,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,108,2022-04-30,32,Кудрявцева Дарья,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,109,2022-04-30,33,Фомина Елизавета,19,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,110,2022-04-30,35,Богославская Анна,21,1,3,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,112,2022-05-16,37,Жарахович Мария,18,1,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,114,2022-05-16,38,еремина александра,18,5,1,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,117,2022-05-16,41,Леонтьева Анастасия,19,1,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,118,2022-05-16,42,Курина Анастасия,18,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,119,2022-05-17,45,Александрова Полина,19,1,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,120,2022-05-17,47,Дайнеко Анна,19,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,121,2022-05-18,50,Гращенков Иван,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,122,2022-05-18,51,Гвоздков Иван,18,1,3,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,123,2022-05-18,53,Касаткин Михаил,19,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,124,2022-05-18,56,Тарнавский Семен,18,1,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,125,2022-05-18,59,голбкин иван,19,5,1,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,126,2022-05-18,60,Титкова Анастасия,18,3,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,127,2022-05-19,64,Герт Валерия,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [510]:
tra_answers_DKR = tra_answers
# tra_answers_DKR

In [511]:
tra_answers_DKR['Q6_DK'] = tra_answers_DKR['Q6'].map({6:1})

tra_answers_DKR['Q7_DK'] = tra_answers_DKR['Q7'].map({10:1})
tra_answers_DKR['Q8_DK'] = tra_answers_DKR['Q8'].map({10:1})
tra_answers_DKR['Q9_DK'] = tra_answers_DKR['Q9'].map({10:1})
tra_answers_DKR['Q10_DK'] = tra_answers_DKR['Q10'].map({10:1})

tra_answers_DKR['PWIa_DK'] = tra_answers_DKR['PWIa'].map({6:1})
tra_answers_DKR['PWIb_DK'] = tra_answers_DKR['PWIb'].map({6:1})
tra_answers_DKR['PWIc_DK'] = tra_answers_DKR['PWIc'].map({6:1})
tra_answers_DKR['PWId_DK'] = tra_answers_DKR['PWId'].map({6:1})
tra_answers_DKR['PWIe_DK'] = tra_answers_DKR['PWIe'].map({6:1})
tra_answers_DKR['PWIf_DK'] = tra_answers_DKR['PWIf'].map({6:1})
tra_answers_DKR['PWIg_DK'] = tra_answers_DKR['PWIg'].map({6:1})
tra_answers_DKR['PWIh_DK'] = tra_answers_DKR['PWIh'].map({6:1})
tra_answers_DKR['PWIi_DK'] = tra_answers_DKR['PWIi'].map({6:1})

tra_answers_DKR['BZSGa_DK'] = tra_answers_DKR['BZSGa'].map({5:1})
tra_answers_DKR['BZSGb_DK'] = tra_answers_DKR['BZSGb'].map({5:1})
tra_answers_DKR['BZSGc_DK'] = tra_answers_DKR['BZSGc'].map({5:1})
tra_answers_DKR['BZSGd_DK'] = tra_answers_DKR['BZSGd'].map({5:1})
tra_answers_DKR['BZSGe_DK'] = tra_answers_DKR['BZSGe'].map({5:1})
tra_answers_DKR['BZSGf_DK'] = tra_answers_DKR['BZSGf'].map({5:1})
tra_answers_DKR['BZSGg_DK'] = tra_answers_DKR['BZSGg'].map({5:1})
tra_answers_DKR['BZSGh_DK'] = tra_answers_DKR['BZSGh'].map({5:1})

tra_answers_DKR['Q11a_DK'] = tra_answers_DKR['Q11a'].map({6:1}) 
tra_answers_DKR['Q11b_DK'] = tra_answers_DKR['Q11b'].map({6:1}) 
tra_answers_DKR['Q11c_DK'] = tra_answers_DKR['Q11c'].map({6:1}) 
tra_answers_DKR['Q11d_DK'] = tra_answers_DKR['Q11d'].map({6:1}) 
tra_answers_DKR['Q11e_DK'] = tra_answers_DKR['Q11e'].map({6:1}) 
tra_answers_DKR['Q11f_DK'] = tra_answers_DKR['Q11f'].map({6:1}) 

tra_answers_DKR['Q12a_DK'] = tra_answers_DKR['Q12a'].map({6:1})
tra_answers_DKR['Q12b_DK'] = tra_answers_DKR['Q12b'].map({6:1})
tra_answers_DKR['Q12c_DK'] = tra_answers_DKR['Q12c'].map({6:1})
tra_answers_DKR['Q12d_DK'] = tra_answers_DKR['Q12d'].map({6:1})
tra_answers_DKR['Q12e_DK'] = tra_answers_DKR['Q12e'].map({6:1})
tra_answers_DKR['Q12f_DK'] = tra_answers_DKR['Q12f'].map({6:1})

tra_answers_DKR['Q13a_DK'] = tra_answers_DKR['Q13a'].map({6:1})
tra_answers_DKR['Q13b_DK'] = tra_answers_DKR['Q13b'].map({6:1})
tra_answers_DKR['Q13c_DK'] = tra_answers_DKR['Q13c'].map({6:1})
tra_answers_DKR['Q13d_DK'] = tra_answers_DKR['Q13d'].map({6:1})
tra_answers_DKR['Q13e_DK'] = tra_answers_DKR['Q13e'].map({6:1})
tra_answers_DKR['Q13f_DK'] = tra_answers_DKR['Q13f'].map({6:1})

tra_answers_DKR['Q14a_DK'] = tra_answers_DKR['Q14a'].map({6:1})
tra_answers_DKR['Q14b_DK'] = tra_answers_DKR['Q14b'].map({6:1})
tra_answers_DKR['Q14c_DK'] = tra_answers_DKR['Q14c'].map({6:1})
tra_answers_DKR['Q14d_DK'] = tra_answers_DKR['Q14d'].map({6:1})
tra_answers_DKR['Q14e_DK'] = tra_answers_DKR['Q14e'].map({6:1})
tra_answers_DKR['Q14f_DK'] = tra_answers_DKR['Q14f'].map({6:1})

tra_answers_DKR['Q15a_DK'] = tra_answers_DKR['Q15a'].map({6:1})
tra_answers_DKR['Q15b_DK'] = tra_answers_DKR['Q15b'].map({6:1})
tra_answers_DKR['Q15c_DK'] = tra_answers_DKR['Q15c'].map({6:1})
tra_answers_DKR['Q15d_DK'] = tra_answers_DKR['Q15d'].map({6:1})
tra_answers_DKR['Q15e_DK'] = tra_answers_DKR['Q15e'].map({6:1})
tra_answers_DKR['Q15f_DK'] = tra_answers_DKR['Q15f'].map({6:1})
tra_answers_DKR['Q15g_DK'] = tra_answers_DKR['Q15g'].map({6:1})

tra_answers_DKR['STOMPa_DK'] = tra_answers_DKR['STOMPa'].map({6:1})
tra_answers_DKR['STOMPb_DK'] = tra_answers_DKR['STOMPb'].map({6:1})
tra_answers_DKR['STOMPc_DK'] = tra_answers_DKR['STOMPc'].map({6:1})
tra_answers_DKR['STOMPd_DK'] = tra_answers_DKR['STOMPd'].map({6:1})
tra_answers_DKR['STOMPe_DK'] = tra_answers_DKR['STOMPe'].map({6:1})
tra_answers_DKR['STOMPf_DK'] = tra_answers_DKR['STOMPf'].map({6:1})
tra_answers_DKR['STOMPg_DK'] = tra_answers_DKR['STOMPg'].map({6:1})
tra_answers_DKR['STOMPh_DK'] = tra_answers_DKR['STOMPh'].map({6:1})
tra_answers_DKR['STOMPi_DK'] = tra_answers_DKR['STOMPi'].map({6:1})

In [469]:
tra_answers_DKR

,recnum,itime,ID,Name,Age,Q1,Q2,Q3,Q4,Q5,...,Q15g_DK,STOMPa_DK,STOMPb_DK,STOMPc_DK,STOMPd_DK,STOMPe_DK,STOMPf_DK,STOMPg_DK,STOMPh_DK,STOMPi_DK
0,112,2022-04-25,2,Добрянская Анастсасия,22,2,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,113,2022-04-25,4,Зернова Илона,18,1,2,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,114,2022-04-25,7,Корчевой Илья,19,1,3,2,2,2,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,115,2022-04-25,8,Рахмалева Дарья,18,1,2,2,2,2,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,116,2022-04-25,11,Выборова Алена,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
5,117,2022-04-25,12,Новикова Александра,19,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,118,2022-04-25,14,Риехакайнен Георг,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
7,119,2022-04-25,16,Рябков Ян Сергеевич,19,1,3,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,120,2022-04-27,17,Romanova Veronika,19,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,121,2022-04-27,20,Краснова Ксения,19,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,122,2022-04-27,25,Ефремова Юлия,19,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,123,2022-04-27,26,Ермолаева Анна,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,124,2022-04-30,18,Фомичева Елизавета,19,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,125,2022-04-30,28,Больбот Маргарита,17,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,126,2022-04-30,30,Новиков Александр,18,5,1,2,2,2,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,127,2022-04-30,34,Сокерина Мария,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,128,2022-05-16,36,Мелихов Александр,21,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,129,2022-05-16,39,коваль маргарита,18,1,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,130,2022-05-16,40,Гринберг Ева,19,3,1,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,131,2022-05-17,43,Афанасьева Полина,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,132,2022-05-17,44,Титова Светлана,19,4,1,2,2,2,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,133,2022-05-17,46,Степанова Ксения,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,134,2022-05-17,48,Румянцев Олег,18,1,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,135,2022-05-17,49,Трофимова Юлия,18,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,136,2022-05-18,52,Павленкова Полина,19,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,137,2022-05-18,54,Каушик Эвелина,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
26,138,2022-05-18,55,Миненкова Мария,18,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,139,2022-05-18,57,Самойлова Софья,18,4,1,2,1,2,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,140,2022-05-18,58,Кропачева Анастасия,19,1,1,2,1,2,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
29,141,2022-05-19,61,Суконкина Полина,18,1,1,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,142,2022-05-19,62,Ремчуков Артём,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,143,2022-05-19,63,Толстых Дарья,19,1,3,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,144,2022-05-19,65,Лямзина Анна,19,4,2,2,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,145,2022-05-19,66,Семенова Анастасия,18,1,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,146,2022-05-19,67,Милявская Марина,18,5,1,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [509]:
q = """
    select ID,
    (ifnull(Q6_DK, 0) + 
    ifnull(Q7_DK, 0) + 
    ifnull(Q8_DK, 0) + 
    ifnull(Q9_DK, 0) + 
    ifnull(Q10_DK, 0) + 
    ifnull(PWIa_DK, 0) + 
    ifnull(PWIb_DK, 0) + 
    ifnull(PWIc_DK, 0) + 
    ifnull(PWId_DK, 0) + 
    ifnull(PWIe_DK, 0) + 
    ifnull(PWIf_DK, 0) + 
    ifnull(PWIg_DK, 0) + 
    ifnull(PWIh_DK, 0) + 
    ifnull(PWIi_DK, 0) + 
    ifnull(BZSGa_DK, 0) + 
    ifnull(BZSGb_DK, 0) + 
    ifnull(BZSGc_DK, 0) + 
    ifnull(BZSGd_DK, 0) + 
    ifnull(BZSGe_DK, 0) + 
    ifnull(BZSGf_DK, 0) + 
    ifnull(BZSGg_DK, 0) + 
    ifnull(BZSGh_DK, 0) + 
    ifnull(Q11a_DK, 0) + 
    ifnull(Q11b_DK, 0) + 
    ifnull(Q11c_DK, 0) + 
    ifnull(Q11d_DK, 0) + 
    ifnull(Q11e_DK, 0) + 
    ifnull(Q11f_DK, 0) + 
    ifnull(Q12a_DK, 0) + 
    ifnull(Q12b_DK, 0) + 
    ifnull(Q12c_DK, 0) + 
    ifnull(Q12d_DK, 0) + 
    ifnull(Q12e_DK, 0) + 
    ifnull(Q12f_DK, 0) + 
    ifnull(Q13a_DK, 0) + 
    ifnull(Q13b_DK, 0) + 
    ifnull(Q13c_DK, 0) + 
    ifnull(Q13d_DK, 0) + 
    ifnull(Q13e_DK, 0) + 
    ifnull(Q13f_DK, 0) + 
    ifnull(Q14a_DK, 0) + 
    ifnull(Q14b_DK, 0) + 
    ifnull(Q14c_DK, 0) +
    ifnull(Q14d_DK, 0) + 
    ifnull(Q14e_DK, 0) + 
    ifnull(Q14f_DK, 0) + 
    ifnull(Q14g_DK, 0) + 
    ifnull(Q15a_DK, 0) + 
    ifnull(Q15b_DK, 0) + 
    ifnull(Q15c_DK, 0) + 
    ifnull(Q15d_DK, 0) + 
    ifnull(Q15e_DK, 0) + 
    ifnull(Q15f_DK, 0) + 
    ifnull(Q15g_DK, 0) + 
    ifnull(STOMPa_DK, 0) + 
    ifnull(STOMPb_DK, 0) + 
    ifnull(STOMPc_DK, 0) +
    ifnull(STOMPd_DK, 0) + 
    ifnull(STOMPe_DK, 0) + 
    ifnull(STOMPf_DK, 0) + 
    ifnull(STOMPg_DK, 0) + 
    ifnull(STOMPh_DK, 0) + 
    ifnull(STOMPi_DK, 0)) / 63 as dont_know_rate
    from gam_answers_DKR
    group by 1
    """
gam_dkr = sql(q)
gam_dkr

    ID  dont_know_rate
0    1        0.031746
1    3        0.000000
2    5        0.015873
3    6        0.000000
4    9        0.000000
5   10        0.000000
6   13        0.015873
7   15        0.000000
8   19        0.000000
9   21        0.063492
10  22        0.079365
11  23        0.000000
12  24        0.031746
13  27        0.079365
14  29        0.031746
15  31        0.047619
16  32        0.031746
17  33        0.063492
18  35        0.047619
19  37        0.015873
20  38        0.000000
21  41        0.000000
22  42        0.031746
23  45        0.000000
24  47        0.015873
25  50        0.015873
26  51        0.000000
27  53        0.000000
28  56        0.000000
29  59        0.000000
30  60        0.047619
31  64        0.000000

In [516]:
q = """
    select ID,
    (ifnull(Q6_DK, 0) + 
    ifnull(Q7_DK, 0) + 
    ifnull(Q8_DK, 0) + 
    ifnull(Q9_DK, 0) + 
    ifnull(Q10_DK, 0) + 
    ifnull(PWIa_DK, 0) + 
    ifnull(PWIb_DK, 0) + 
    ifnull(PWIc_DK, 0) + 
    ifnull(PWId_DK, 0) + 
    ifnull(PWIe_DK, 0) + 
    ifnull(PWIf_DK, 0) + 
    ifnull(PWIg_DK, 0) + 
    ifnull(PWIh_DK, 0) + 
    ifnull(PWIi_DK, 0) + 
    ifnull(BZSGa_DK, 0) + 
    ifnull(BZSGb_DK, 0) + 
    ifnull(BZSGc_DK, 0) + 
    ifnull(BZSGd_DK, 0) + 
    ifnull(BZSGe_DK, 0) + 
    ifnull(BZSGf_DK, 0) + 
    ifnull(BZSGg_DK, 0) + 
    ifnull(BZSGh_DK, 0) + 
    ifnull(Q11a_DK, 0) + 
    ifnull(Q11b_DK, 0) + 
    ifnull(Q11c_DK, 0) + 
    ifnull(Q11d_DK, 0) + 
    ifnull(Q11e_DK, 0) + 
    ifnull(Q11f_DK, 0) + 
    ifnull(Q12a_DK, 0) + 
    ifnull(Q12b_DK, 0) + 
    ifnull(Q12c_DK, 0) + 
    ifnull(Q12d_DK, 0) + 
    ifnull(Q12e_DK, 0) + 
    ifnull(Q12f_DK, 0) + 
    ifnull(Q13a_DK, 0) + 
    ifnull(Q13b_DK, 0) + 
    ifnull(Q13c_DK, 0) + 
    ifnull(Q13d_DK, 0) + 
    ifnull(Q13e_DK, 0) + 
    ifnull(Q13f_DK, 0) + 
    ifnull(Q14a_DK, 0) + 
    ifnull(Q14b_DK, 0) + 
    ifnull(Q14c_DK, 0) +
    ifnull(Q14d_DK, 0) + 
    ifnull(Q14e_DK, 0) + 
    ifnull(Q14f_DK, 0) + 
    ifnull(Q15a_DK, 0) + 
    ifnull(Q15b_DK, 0) + 
    ifnull(Q15c_DK, 0) + 
    ifnull(Q15d_DK, 0) + 
    ifnull(Q15e_DK, 0) + 
    ifnull(Q15f_DK, 0) + 
    ifnull(Q15g_DK, 0) + 
    ifnull(STOMPa_DK, 0) + 
    ifnull(STOMPb_DK, 0) + 
    ifnull(STOMPc_DK, 0) +
    ifnull(STOMPd_DK, 0) + 
    ifnull(STOMPe_DK, 0) + 
    ifnull(STOMPf_DK, 0) + 
    ifnull(STOMPg_DK, 0) + 
    ifnull(STOMPh_DK, 0) + 
    ifnull(STOMPi_DK, 0)) / 62 as dont_know_rate
    from tra_answers_DKR
    group by 1
    """
tra_dkr = sql(q)
tra_dkr

    ID  dont_know_rate
0    2        0.064516
1    4        0.016129
2    7        0.032258
3    8        0.016129
4   11        0.048387
5   12        0.000000
6   14        0.032258
7   16        0.000000
8   17        0.000000
9   18        0.000000
10  20        0.016129
11  25        0.000000
12  26        0.032258
13  28        0.000000
14  30        0.112903
15  34        0.000000
16  36        0.016129
17  39        0.096774
18  40        0.000000
19  43        0.032258
20  44        0.032258
21  46        0.000000
22  48        0.000000
23  49        0.000000
24  52        0.000000
25  54        0.112903
26  55        0.000000
27  57        0.080645
28  58        0.112903
29  61        0.016129
30  62        0.000000
31  63        0.000000
32  65        0.032258
33  66        0.032258
34  67        0.000000

### NASA-TLX (Q25 в gam и Q21 в tra)

In [530]:
# Как много умственных усилий (меньше - лучше)
gam_mental_demand = gam_answers['Q25a']
tra_mental_demand = tra_answers['Q21a']

# Как много физических усилий (меньше - лучше)
gam_physical_demand = gam_answers['Q25b']
tra_physical_demand = tra_answers['Q21b']

# Как много времени (меньше - лучше)
gam_temporal_demand = gam_answers['Q25c']
tra_temporal_demand = tra_answers['Q21c']

# Насколько успешно (больше - лучше)
gam_success = gam_answers['Q25d']
tra_success = tra_answers['Q21d']

# Насколько тяжело (меньше - лучше)
gam_effort = gam_answers['Q25e']
tra_effort = tra_answers['Q21e']

# Насколько неуверенно, раздраженно или напряженно вы себя чувствовали (меньше - лучше)
gam_frustration = gam_answers['Q25f']
tra_frustration = tra_answers['Q21f']

# Насколько увлекательно (больше - лучше)
gam_fascinating = gam_answers['Q25g']
tra_fascinating = tra_answers['Q21g']

In [533]:
stats.ttest_ind(gam_mental_demand, tra_mental_demand)

Ttest_indResult(statistic=-0.6901877321463358, pvalue=0.49253322492537677)

In [638]:
print(f'в геймифицированном варианте = {np.mean(gam_mental_demand)}')
print(f'в традиционном варианте = {np.mean(tra_mental_demand)}')

в геймифицированном варианте = 2.8125
в традиционном варианте = 2.942857142857143

In [534]:
stats.ttest_ind(gam_physical_demand, tra_physical_demand)

Ttest_indResult(statistic=0.6491814512022687, pvalue=0.5185084577636289)

In [639]:
print(f'в геймифицированном варианте = {np.mean(gam_physical_demand)}')
print(f'в традиционном варианте = {np.mean(tra_physical_demand)}')

в геймифицированном варианте = 1.65625
в традиционном варианте = 1.5142857142857142

In [535]:
stats.ttest_ind(gam_temporal_demand, tra_temporal_demand)

Ttest_indResult(statistic=2.7027121941792864, pvalue=0.008765429237822637)

In [540]:
print(f'Среднее значение субъективной оценки временнЫх затрат в геймифицированном варианте = {np.mean(gam_temporal_demand)}')
print(f'Среднее значение субъективной оценки временнЫх затрат в традиционном варианте = {np.mean(tra_temporal_demand)}')

Среднее значение субъективной оценки временнЫх затрат в геймифицированном варианте = 3.0
Среднее значение субъективной оценки временнЫх затрат в традиционном варианте = 2.4285714285714284

Субъективное время заполнения оказалось ниже в группе с традиционным дизайном анкеты. Возможно, потому что вставки с мемами тоже занимали время на просмотр, приходилось больше страниц переключать.

In [536]:
stats.ttest_ind(gam_success, tra_success)

Ttest_indResult(statistic=0.13970492427928044, pvalue=0.8893251236423695)

In [640]:
print(f'в геймифицированном варианте = {np.mean(gam_success)}')
print(f'в традиционном варианте = {np.mean(tra_success)}')

в геймифицированном варианте = 3.09375
в традиционном варианте = 3.057142857142857

In [537]:
stats.ttest_ind(gam_effort, tra_effort)

Ttest_indResult(statistic=-1.244857944995836, pvalue=0.2176535540202204)

In [641]:
print(f'в геймифицированном варианте = {np.mean(gam_effort)}')
print(f'в традиционном варианте = {np.mean(tra_effort)}')

в геймифицированном варианте = 2.28125
в традиционном варианте = 2.5714285714285716

In [538]:
stats.ttest_ind(gam_frustration, tra_frustration)

Ttest_indResult(statistic=0.8214902244718532, pvalue=0.41437009995771157)

In [643]:
print(f'в геймифицированном варианте = {np.mean(gam_frustration)}')
print(f'в традиционном варианте = {np.mean(tra_frustration)}')

в геймифицированном варианте = 2.25
в традиционном варианте = 2.057142857142857

In [539]:
stats.ttest_ind(gam_fascinating, tra_fascinating)

Ttest_indResult(statistic=1.4430078201397072, pvalue=0.15382030439038244)

In [644]:
print(f'в геймифицированном варианте = {np.mean(gam_fascinating)}')
print(f'в традиционном варианте = {np.mean(tra_fascinating)}')

в геймифицированном варианте = 4.0
в традиционном варианте = 3.6857142857142855

### Mouse Movements + DKR analysis

In [542]:
gam_question_mouse['group'] = 'gam'
gam_question_mouse

     question  ID  distance group
0    end_time   1      1484   gam
1     ID_time   1       340   gam
2    pre_time   1      1179   gam
3     Q6_time   1       632   gam
4     Q7_time   1       477   gam
..        ...  ..       ...   ...
429  Q16_time  64      1491   gam
430  Q20_time  64      1214   gam
431  Q22_time  64      1334   gam
432  Q23_time  64      1673   gam
433  Q25_time  64      2256   gam

[434 rows x 4 columns]

In [544]:
tra_question_mouse['group'] = 'tra'
tra_question_mouse

       question  ID  distance group
0      end_time   2      1760   tra
1         intro   2       663   tra
2       ID_time   2      1228   tra
3      pre_time   2      2131   tra
4       Q6_time   2       489   tra
..          ...  ..       ...   ...
474    Q15_time  67      2075   tra
475  STOMP_time  67      3374   tra
476    Q18_time  67       412   tra
477    Q20_time  67      1191   tra
478    Q21_time  67      3281   tra

[479 rows x 4 columns]

In [547]:
mouse_data = pd.concat([gam_question_mouse[['question', 'group', 'distance']], 
                       tra_question_mouse[['question', 'group', 'distance']]])
mouse_data

       question group  distance
0      end_time   gam      1484
1       ID_time   gam       340
2      pre_time   gam      1179
3       Q6_time   gam       632
4       Q7_time   gam       477
..          ...   ...       ...
474    Q15_time   tra      2075
475  STOMP_time   tra      3374
476    Q18_time   tra       412
477    Q20_time   tra      1191
478    Q21_time   tra      3281

[913 rows x 3 columns]

In [654]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#perform two-way ANOVA
model = ols('distance ~ C(question) + C(group) + C(question)*C(group)', data=mouse_data).fit()
sm.stats.anova_lm(model, typ=2)

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 27, but rank is 20
  warnings.warn('covariance of constraints does not have full '
/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 27, but rank is 22
  warnings.warn('covariance of constraints does not have full '

                            sum_sq     df          F        PR(>F)
C(question)           6.299220e+08   27.0  11.074439  1.597506e-31
C(group)              5.235476e+03    1.0   0.002485  9.602523e-01
C(question):C(group)  1.551722e+08   27.0   2.728028  3.480728e-05
Residual              1.824396e+09  866.0        NaN           NaN

In [656]:
print(np.mean(gam_question_mouse['distance']))
print(np.mean(tra_question_mouse['distance']))

2319.4447004608296
2339.8601252609606

In [551]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='STOMP_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='STOMP_time']['distance'])

Ttest_indResult(statistic=-0.677599266765583, pvalue=0.5021308263700512)

In [558]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='BZSG_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='BZSG_time']['distance'])

Ttest_indResult(statistic=-1.0116913125183735, pvalue=0.3179214502267298)

In [559]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='PWI_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='PWI_time']['distance'])

Ttest_indResult(statistic=-0.7644789425624143, pvalue=0.449068504933518)

In [560]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='Q14_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='Q13_time']['distance'])

Ttest_indResult(statistic=-0.5332715461694757, pvalue=0.5970346025821518)

In [561]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='Q15_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='Q15_time']['distance'])

Ttest_indResult(statistic=-1.6921581672173545, pvalue=0.09859191734882791)

In [562]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='Q11_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='Q14_time']['distance'])

Ttest_indResult(statistic=0.16473009319574955, pvalue=0.8700072918936315)

In [563]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='Q12_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='Q11_time']['distance'])

Ttest_indResult(statistic=-0.07323989202471894, pvalue=0.9419629183896588)

In [564]:
stats.ttest_ind(gam_question_mouse[gam_question_mouse['question']=='Q13_time']['distance'], 
                tra_question_mouse[tra_question_mouse['question']=='Q12_time']['distance'])

Ttest_indResult(statistic=-1.4412778955469405, pvalue=0.1576966392736998)

In [520]:
from scipy import stats

# don't know rate comparison
stats.ttest_ind(gam_dkr['dont_know_rate'], tra_dkr['dont_know_rate'])

Ttest_indResult(statistic=-0.7676721520907619, pvalue=0.44546178641156553)

In [649]:
print(f'геймифицированный дизайн {np.mean(gam_dkr["dont_know_rate"])}')
print(f'традиционный дизайн {np.mean(tra_dkr["dont_know_rate"])}')

геймифицированный дизайн 0.020833333333333336
традиционный дизайн 0.02672811059907834

### Eyetracking data analysis

In [581]:
baselines_df = pd.DataFrame.from_dict(baselines, orient='index')
baselines_df['ID'] = baselines_df.index
baselines_df = baselines_df.rename(columns={0:'baseline'})
baselines_df

     baseline  ID
1   34.058474   1
3   38.559276   3
5   28.882151   5
6   25.911232   6
9   25.784546   9
..        ...  ..
62  33.268293  62
63  17.399305  63
65  20.527097  65
66  29.855326  66
67  35.896216  67

[67 rows x 2 columns]

In [594]:
q = """
    select 'gam' as group_name, question, (avg_diameter-baseline) as diff_diameter
    from gam_pupils_by_page_ID
    join baselines_df using(ID)
    join gam_page_question_match using(page_id)
    """
gam_pupils_data = sql(q)

In [595]:
q = """
    select 'tra' as group_name, question, (avg_diameter-baseline) as diff_diameter
    from tra_pupils_by_page_ID
    join baselines_df using(ID)
    join tra_page_question_match using(page_id)
    """
tra_pupils_data = sql(q)

In [597]:
pupils_data = pd.concat([gam_pupils_data, tra_pupils_data])

In [598]:
pupils_data

    group_name    question  diff_diameter
0          gam     Q6_time       9.519495
1          gam     Q8_time      11.252928
2          gam     Q9_time      16.948075
3          gam    Q10_time      14.493613
4          gam    PWI_time      12.094578
..         ...         ...            ...
122        tra    Q15_time     -15.257525
123        tra  STOMP_time     -14.624038
124        tra    Q18_time     -14.050254
125        tra    Q20_time     -14.621245
126        tra    Q21_time     -14.282692

[211 rows x 3 columns]

In [600]:
#perform two-way ANOVA
model_pupils = ols('diff_diameter ~ C(question) + C(group_name) + C(question):C(group_name)', data=pupils_data).fit()
sm.stats.anova_lm(model_pupils, typ=2)

/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 26, but rank is 18
  warnings.warn('covariance of constraints does not have full '
/Users/risuleymanov/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:1832: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 26, but rank is 22
  warnings.warn('covariance of constraints does not have full '

                                 sum_sq     df         F    PR(>F)
C(question)                 2039.758262   26.0  0.843596  0.646916
C(group_name)                386.893544    1.0  4.160261  0.042978
C(question):C(group_name)   1069.254579   26.0  0.442219  0.986155
Residual                   15344.572860  165.0       NaN       NaN

In [603]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='STOMP_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='STOMP_time']['diff_diameter'])

Ttest_indResult(statistic=0.562174427489701, pvalue=0.5877230732053682)

In [604]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='BZSG_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='BZSG_time']['diff_diameter'])

Ttest_indResult(statistic=1.6733120131308474, pvalue=0.1551231866645851)

In [605]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='PWI_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='PWI_time']['diff_diameter'])

Ttest_indResult(statistic=1.9165497809076997, pvalue=0.08162916586513351)

In [657]:
print(np.mean(gam_pupils_data[gam_pupils_data['question']=='PWI_time']['diff_diameter']))
print(np.mean(tra_pupils_data[tra_pupils_data['question']=='PWI_time']['diff_diameter']))

2.8028740875890197
-4.894974873012173

In [606]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='Q14_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='Q13_time']['diff_diameter'])

Ttest_indResult(statistic=-0.06277619819294615, pvalue=0.9514848568917911)

In [607]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='Q15_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='Q15_time']['diff_diameter'])

Ttest_indResult(statistic=-0.3085620740245263, pvalue=0.7639868047166992)

In [608]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='Q11_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='Q14_time']['diff_diameter'])

Ttest_indResult(statistic=1.5894741278259341, pvalue=0.15061679475153775)

In [609]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='Q12_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='Q11_time']['diff_diameter'])

Ttest_indResult(statistic=0.7490400401221382, pvalue=0.46826230153937265)

In [610]:
stats.ttest_ind(gam_pupils_data[gam_pupils_data['question']=='Q13_time']['diff_diameter'], 
                tra_pupils_data[tra_pupils_data['question']=='Q12_time']['diff_diameter'])

Ttest_indResult(statistic=0.7339149390494997, pvalue=0.48168136208360246)

In [612]:
np.mean(gam_pupils_data['diff_diameter'])

1.787826094046671

In [613]:
np.mean(tra_pupils_data['diff_diameter'])

-1.876571977666619

In [617]:
# total pupil diameter
stats.ttest_ind(gam_pupils_data['diff_diameter'], 
                tra_pupils_data['diff_diameter'])

Ttest_indResult(statistic=2.7895136149271833, pvalue=0.005766601196647581)

In [618]:
# total mouse movements
stats.ttest_ind(gam_question_mouse['distance'], 
                tra_question_mouse['distance'])

Ttest_indResult(statistic=-0.18761159886471188, pvalue=0.8512229104367113)

### check total NASA-TLX by question

In [622]:
# Как много умственных усилий (меньше - лучше)
gam_nasa_tlx = pd.DataFrame()
tra_nasa_tlx = pd.DataFrame()
gam_nasa_tlx['mental'] = gam_answers['Q25a']
tra_nasa_tlx['mental'] = tra_answers['Q21a']

In [625]:
# Как много физических усилий (меньше - лучше)
gam_nasa_tlx['physical'] = gam_answers['Q25b']
tra_nasa_tlx['physical'] = tra_answers['Q21b']

# Как много времени (меньше - лучше)
gam_nasa_tlx['temporal'] = gam_answers['Q25c']
tra_nasa_tlx['temporal'] = tra_answers['Q21c']

# Насколько успешно (было больше - лучше, переводим в меньше - лучше)
gam_nasa_tlx['success'] = 6 - gam_answers['Q25d']
tra_nasa_tlx['success'] = 6 - tra_answers['Q21d']

# Насколько тяжело (меньше - лучше)
gam_nasa_tlx['effort'] = gam_answers['Q25e']
tra_nasa_tlx['effort'] = tra_answers['Q21e']

# Насколько неуверенно, раздраженно или напряженно вы себя чувствовали (меньше - лучше)
gam_nasa_tlx['frustr'] = gam_answers['Q25f']
tra_nasa_tlx['frustr'] = tra_answers['Q21f']

# Насколько увлекательно (было больше - лучше, переводим в меньше - лучше)
gam_nasa_tlx['fun'] = 6 - gam_answers['Q25g']
tra_nasa_tlx['fun'] = 6 - tra_answers['Q21g']

In [627]:
gam_nasa_tlx['total'] = (
    gam_nasa_tlx['mental'] + gam_nasa_tlx['physical'] + gam_nasa_tlx['temporal'] + 
    gam_nasa_tlx['success'] + gam_nasa_tlx['effort'] + gam_nasa_tlx['frustr'] + gam_nasa_tlx['fun']) / 7



tra_nasa_tlx['total'] = (
    tra_nasa_tlx['mental'] + tra_nasa_tlx['physical'] + tra_nasa_tlx['temporal'] + 
    tra_nasa_tlx['success'] + tra_nasa_tlx['effort'] + tra_nasa_tlx['frustr'] + tra_nasa_tlx['fun']) / 7

In [646]:
print(f'в геймифицированном варианте = {np.mean(gam_nasa_tlx["total"])}')
print(f'в традиционном варианте = {np.mean(tra_nasa_tlx["total"])}')

в геймифицированном варианте = 2.415178571428571
в традиционном варианте = 2.3959183673469386

In [647]:
# total NASA-TLX
stats.ttest_ind(gam_nasa_tlx['total'], 
                tra_nasa_tlx['total'])

Ttest_indResult(statistic=0.18375960495107357, pvalue=0.8547740986056739)

### Попробуем взять другой промежуток для подсчета бейзлайна

In [631]:
baselines_30_35 = {}

d = pd.read_csv(f'with_time_1')
d.adequate_time = pd.to_datetime(d.adequate_time)
d = d[d['confidence']>=0.7]
baselines_30_35[1] = np.mean(d[(d['videotime']>='0:0:30')&(d['videotime']<='0:0:35')]['diameter'])
    
for k in list(gam_answers_times['ID'])[1:]:
    print(f'Обработка ID {k}')
    d = pd.read_csv(f'with_time_{k}')
    d.adequate_time = pd.to_datetime(d.adequate_time)
    d = d[d['confidence']>=0.7]
    baselines_30_35[k] = np.mean(d[(d['videotime']>='0:0:30')&(d['videotime']<='0:0:35')]['diameter'])

Обработка ID 3
Обработка ID 5
Обработка ID 6
Обработка ID 9
Обработка ID 10
Обработка ID 13
Обработка ID 15
Обработка ID 19
Обработка ID 21
Обработка ID 22
Обработка ID 23
Обработка ID 24
Обработка ID 27
Обработка ID 29
Обработка ID 31
Обработка ID 32
Обработка ID 33
Обработка ID 35
Обработка ID 37
Обработка ID 38
Обработка ID 41
Обработка ID 42
Обработка ID 45
Обработка ID 47
Обработка ID 50
Обработка ID 51
Обработка ID 53
Обработка ID 56
Обработка ID 59
Обработка ID 60
Обработка ID 64

In [632]:
d = pd.read_csv(f'with_time_2')
d.adequate_time = pd.to_datetime(d.adequate_time)
d = d[d['confidence']>=0.7]
baselines_30_35[2] = np.mean(d[(d['videotime']>='0:0:30')&(d['videotime']<='0:0:35')]['diameter'])

for k in list(tra_answers_times['ID'])[1:]:
    print(f'Обработка ID {k}')
    d = pd.read_csv(f'with_time_{k}')
    d.adequate_time = pd.to_datetime(d.adequate_time)
    d = d[d['confidence']>=0.7]
    baselines_30_35[k] = np.mean(d[(d['videotime']>='0:0:30')&(d['videotime']<='0:0:35')]['diameter'])

Обработка ID 4
Обработка ID 7
Обработка ID 8
Обработка ID 11
Обработка ID 12
Обработка ID 14
Обработка ID 16
Обработка ID 17
Обработка ID 20
Обработка ID 25
Обработка ID 26
Обработка ID 18
Обработка ID 28
Обработка ID 30
Обработка ID 34
Обработка ID 36
Обработка ID 39
Обработка ID 40
Обработка ID 43
Обработка ID 44
Обработка ID 46
Обработка ID 48
Обработка ID 49
Обработка ID 52
Обработка ID 54
Обработка ID 55
Обработка ID 57
Обработка ID 58
Обработка ID 61
Обработка ID 62
Обработка ID 63
Обработка ID 65
Обработка ID 66
Обработка ID 67

In [633]:
baselines_30_35_df = pd.DataFrame.from_dict(baselines_30_35, orient='index')
baselines_30_35_df['ID'] = baselines_30_35_df.index
baselines_30_35_df = baselines_30_35_df.rename(columns={0:'baseline'})
baselines_30_35_df

     baseline  ID
1   32.817908   1
3   36.317572   3
5   29.847564   5
6   26.804165   6
9   27.911273   9
..        ...  ..
62  34.763662  62
63  17.216855  63
65  20.462938  65
66  32.566275  66
67  33.024368  67

[67 rows x 2 columns]

In [634]:
q = """
    select 'gam' as group_name, question, (avg_diameter-baseline) as diff_diameter
    from gam_pupils_by_page_ID
    join baselines_30_35_df using(ID)
    join gam_page_question_match using(page_id)
    """
gam_pupils_data_30_35 = sql(q)

In [635]:
q = """
    select 'tra' as group_name, question, (avg_diameter-baseline) as diff_diameter
    from tra_pupils_by_page_ID
    join baselines_30_35_df using(ID)
    join tra_page_question_match using(page_id)
    """
tra_pupils_data_30_35 = sql(q)

In [636]:
np.mean(gam_pupils_data_30_35['diff_diameter'])

2.2854835107270723

In [637]:
np.mean(tra_pupils_data_30_35['diff_diameter'])

-1.1559116963840075

In [661]:
gam_answers[['Q7', 'Q8', 'Q9', 'Q10']].corr()

           Q7        Q8        Q9       Q10
Q7   1.000000  0.244282  0.131348  0.125580
Q8   0.244282  1.000000  0.203284 -0.186917
Q9   0.131348  0.203284  1.000000 -0.126358
Q10  0.125580 -0.186917 -0.126358  1.000000

In [662]:
tra_answers[['Q7', 'Q8', 'Q9', 'Q10']].corr()

           Q7        Q8        Q9       Q10
Q7   1.000000  0.404125  0.404838  0.358014
Q8   0.404125  1.000000  0.141907  0.543858
Q9   0.404838  0.141907  1.000000  0.075194
Q10  0.358014  0.543858  0.075194  1.000000